<div class="card-group text-center">
  <div class="col" *ngFor="let item of items">
    <div
      class="card text-white bg-dark mb-2 text-center"
      style="max-width: 14rem"
    >
      <div class="card-body">
        <h5 class="card-header">{{ item.nombre }}</h5>
        <a [routerLink]="['/', raiz, item.id]" class="btn btn-outline-primary">
          Ver más
        </a>
      </div>
    </div>
  </div>
</div>
