<div class="row">
  <div class="col">
    <h1>{{ colegio.nombre }}</h1>
  </div>
  <div class="col-4 text-end">
    <button routerLink="/home" class="btn btn-outline-danger">Regresar</button>
  </div>
</div>
<br />
<div class="container md-5">
  <div class="row">
    <div class="col">
      <table class="table table-dark table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Grado y Salon</th>
            <th scope="col">Asignaturas</th>
            <!-- <th scope="col">Herramientas</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let curso of colegio.cursos">
            <td class="align-middle">{{ curso.grado + "-" + curso.salon }}</td>
            <td class="align-middle">
              <ul>
                <li *ngFor="let asignatura of curso.asignaturas">
                  {{ asignatura.nombre }}
                </li>
              </ul>
            </td>
            <!-- <td class="align-middle">
              <button class="btn btn-info mr-1">
                <i class="far fa-address-book"></i>
              </button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
