<footer class="mastfoot mt-auto text-center">
  <div class="inner">
    <p>
      &copy; {{ anio }} Proyecto realizado para <a href="https://www.runt.com.co/" target="_blank">RUNT</a>, por <a target="_blank" href="https://www.linkedin.com/in/jhon-murillo-207623207/">
        Jhon Murillo</a>.
    </p>
  </div>
</footer>
