<div class="row">
  <div class="col">
    <h3>Profesor: {{ profesor.nombre }}</h3>
  </div>
  <div class="col-4 text-end">
    <button routerLink="/teachers" class="btn btn-outline-danger">
      Regresar
    </button>
  </div>
</div>
<br>
<div class="container md-5">
  <div class="row">
    <div class="col">
      <table class="table text-white">
        <thead>
          <tr>
            <th>Asignatura</th>
            <th>Estudiantes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asignatura of profesor.asignaturas">
            <td class="align-middle">
              {{ asignatura.nombre }}
            </td>
            <td class="align-middle">
              <ul>
                <li *ngFor="let estudiante of asignatura.estudiantes">
                  {{ estudiante.nombre }}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
