<div class="row">
    <div class="col">
      <h1>Estudiantes</h1>
    </div>
    <div class="col-4 text-end">
      <button routerLink="/teachers" class="btn btn-outline-info">Ver profesores</button>
    </div>
  </div>
<br />

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let estudiante of estudiantes">
    <div class="card border-primary mb-3 bg-transparent">
      <div class="card-body">
        <h5 class="card-title">{{ estudiante.nombre }}</h5>
        <p class="card-text">
          <span
            *ngFor="let asignatura of estudiante.asignaturas"
            class="badge badge-pill badge-primary md-2"
          >
            {{ asignatura.nombre }}
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
